[user]
	name = Christian Muirhead
	email = christian.muirhead@canonical.com
[color]
	ui = true
[alias]
	st = status

[core]
	excludesfile = /home/xtian/.gitignore_global
	editor = emacsclient -nw
[gui]
	fontui = -family \"DejaVu Sans\" -size 10 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family \"DejaVu Sans Mono\" -size 10 -weight normal -slant roman -underline 0 -overstrike 0
[branch]
	autosetuprebase = always
[push]
	default = simple
