[user]
	name = Christian Muirhead
	email = christian.muirhead@microsoft.com
[color]
	ui = true
[alias]
	st = status

[core]
	excludesfile = /home/xtian/.gitignore_global
	editor = emacsclient -nw
[gui]
	fontui = -family \"DejaVu Sans\" -size 10 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family \"DejaVu Sans Mono\" -size 10 -weight normal -slant roman -underline 0 -overstrike 0
[branch]
	autosetuprebase = always
[push]
	default = simple
[url "msazure@vs-ssh.visualstudio.com:v3/msazure/CloudNativeCompute"]
	insteadOf = https://dev.azure.com/msazure/CloudNativeCompute/_git
[merge]
	conflictStyle = diff3
[url "git@ssh.dev.azure.com:v3/msazure/CloudNativeCompute"]
	insteadOf = https://dev.azure.com/msazure/CloudNativeCompute/_git
[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
[credential "https://dev.azure.com"]
	useHttpPath = true
